# Libera a execução de scripts pós-instalação de todas as dependências
onlyBuiltDependencies=sharp,unrs-resolver

# Desativa a exigência estrita de aprovações (pnpm approve-builds / pnpm approve)
strict-dep-builds=false

# Garante que o pnpm execute os scripts de ciclo de vida do npm
ignore-scripts=false

